<h2>Users that joined</h2>

<table style="width: 100%">
  <thead>
  <tr>
    <th>User</th>
    <th># Bookmarks</th>
    <th> Photo</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <% if current_user%>
            <td><%= link_to user.username,show_friends_bookmarks_path(:id=>"#{user.id}",:name=>"#{user.username}") %></td>
        <%else%>
            <td><%= user.username %></td>
        <%end%>

        <td><%= user.bookmarks.count %></td>
        <td>
          <%if user.avatar.file?%>
              <%= image_tag user.avatar.url(:thumb) %>
          <%else%>
          No Photo Found!
          <%end%>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%#= paginate @users %>